<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-10 offset-md-1">
                <div class="container-blue animate__animated animate__bounceInDown">
                    <div class="container text-center" style="margin-bottom: 20px;">
                        <h1>Bienvenido a MyBlog</h1>
                        <h4>Aquí podrás compartir tus ideas, tutoriales, reflecciones o simplemente escribir lo que se te antoje. Podrás compartir lo que quieras con la comunidad e interactuar con ellos. Sientete libre y disfruta.</h4>
                        <button routerLink="/login" style="margin-top: 20px;" mat-raised-button color="primary">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>