<mat-card class="container-side animate__animated animate__bounceInLeft">
    <mat-action-list>
        <div mat-subheader>Menú</div>
        <button mat-list-item routerLink="/admin"> <mat-icon matListItemIcon>home</mat-icon>Inicio</button>
        <button mat-list-item routerLink="/admin/profile"> <mat-icon matListItemIcon>person</mat-icon>Perfil</button>
        <button mat-list-item routerLink=""> <mat-icon matListItemIcon>book</mat-icon>Blogs</button>
        <button mat-list-item routerLink=""> <mat-icon matListItemIcon>add_circle_outline</mat-icon>Nuevo post</button>
    </mat-action-list>
</mat-card>